<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THẻ bố cụ vào nội dung</title>
</head>

<body>
    <!--start header-->
    <header>
        <nav>
            <ul>
                <li>
                   <a href="#">Trang chủ</a>
                </li> 
                <li>
                   <a href="#">html</a>
                </li>
               <li>
                   <a href="#">css</a>
                </li>
                <li>
                   <a href="#">js</a>
                </li>
                <li>
                   <a href="#">reactjs</a>
                </li>
            </ul>
        </nav>

    </header>
    <!--end header-->
    <!--start header-->
    <section>
        <pre>
            I.mục tiêu 
                1, nắm và vận dụng các phương pháp chia sẻ bố cục và nội dung website hợp lí
                2, sử dụng các element thông dụng 
        </pre>
        <div>
            <label for="">usename</label>
           <input type="text" name="usename" id="usenames">
        </div>
    </section>
    <!--end header-->
    <!--start header-->
    <footer>

    </footer>
    <!--end header-->
</body>

</html>