<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- start header> -->
    <header>
        <nav>
            <div style="background-color: red;">
                <ul style="display: flex;list-style: none;">
                    <li style="padding: 8px 12px; margin-left: 120px ;">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">sản phẩm</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">Dịch vụ</a>
                    </li">
                    <li style="padding: 8px 12px;">
                        <a href="#">Tin tức</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div>

            </div>
        </nav>
    </header>
    <!-- start body -->
    <section>
        <!-- banner -->
        <div>
            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/315436981_668688394816337_659751852649779629_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=i8DQtlEGPWwAX-PfTaY&_nc_ht=scontent.fhan14-2.fna&oh=00_AfDTRQbET_V5nAYZOdrEPd2gFTLi8sT0LrwByk359zdQ8w&oe=64F2AF9F" alt="demo">
        </div>
        <!-- ds sản phẩm -->
        <div>
            <!-- chi tiết bài viết -->
            <h1>bài viết cảu tôi</h1>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facilis illo tempore quo iusto, officia error cum debitis necessitatibus? Odit.
            </div>
        <div>
            <h1> Đăng kí thành viên</h1>
    <form action=""></form>
    <table width="500px">
        <caption>
            <h2>Đăng kí thành viên</h2>
        </caption>
        <div>
            <th style="text-align: left;"> <label for="age">Họ và tên</label></th>
            <td><input type="text" name="fullname" id="fullname" size="30"></td>
            </tr>
        </div>
        <div>
            <tr>
                <th style="text-align: left;"> <label for="age">Tên đăng nhập</label></th>
                <td><input type="text" name="username" id="username" size="30"></td>
            </tr>
        </div>
        <div>
            <tr>
                <th style="text-align: left;"> <label for="age">Mật khẩu</label></th>
                <td><input type="password" name="password" id="password" size="30"></td>
            </tr>
        </div>
        <div>
            <tr>
                <th style="text-align: left;"> <label for="age">Email</label></th>
                <td><input type="text" name="Email" id="Email" size="40"></td>
            </tr>
        </div>
        <div>
            <th style="text-align: left;"> <label for="age">Giới tính</label></th>
            <td>
                <input type="radio" name="gioitinh" id="nam">nam
                <input type="radio" name="gioitinh" id="nữ">nữ
            </td>
            </tr>
        </div>
        <th style="text-align: left;"> <label for="age">Độ tuổi</label></th>
        <th>
            <input type="radio" name="dotuoi" id="Dưới 13 tuổi">Dưới 13
            <input type="radio" name="dotuoi" id="Từ 13 đến 17 tuổi">Từ 13 đến 17
            <input type="radio" name="dotuoi" id="Từ 18 đến 25 tuổi">Từ 18 đến 25
            <input type="radio" name="dotuoi" id="Trên 25 tuổi">Trên 25
        </th>
        </tr>
        <div>
            <tr>
                <th style="text-align: left;"> <label for="age">Sở thích</label></th>
                <td>
                    <input type="checkbox" name="sothich">Âm nhạc
                    <input type="checkbox" name="sothich">Game
                    <input type="checkbox" name="sothich">Thể Thao
                    <input type="checkbox" name="sothich">Du lịch
                </td>
            </tr>
        </div>
        <div>
            <tr>
                <th style="text-align: left;"> <label for="age">Nghề Nghiệp</label></th>

                <td><select name="Chọn nghề nghiệp" id="Chọn Nghề Nghiệp">Chọn Nghề Nghiệp
                        <option value="job">Chọn ngành nghề</option>
                        <option value="job">IT</option>
                        <option value="job">Kỹ sư</option>
                        <option value="job">Nhân viên văn phòng</option>
                        <option value="job">Đầu bếp</option>
                        <option value="job">Sinh viên</option>
                        <option value="job">Khác</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="text-align: left;"> <label for="age">Mô tả bản thân</label></th>
                <td>
                    <textarea name="string" id="string" cols="30" rows="5"></textarea>
                </td>
            </tr>
        </div>
        <div>
            <tr>
                <td style="text-align: center;" colspan="2">
                    <input type="button" name="sign-up" value="Đăng kí">
                    <input type="button" name="reset" value="Làm lại">
                </td>
        </div>
    </table>
        </div>
            <h2> liên hệ</h2>
        </div>
        <!-- mô tả -->
        <div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat excepturi, beatae ab, officia nemo animi, officiis sint accusantium autem ratione unde incidunt soluta fuga voluptas ex ut iusto fugiat ad.
            </p>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </section>
    <!-- end body -->
    <!-- start footẻ -->
    <footer>
        <div>
            <h2>video linh tinh</h2>
        </div>
        <div>
            <video controls="controls">
                <source src="https://cdn.realtech.com.vn/uploads/1/news/2023/0/86/updat1.mp4" type="video/mp4">
                <a href="https://www.youtube.com/watch?v=Rqurzd_pEsA&t=2970s"></a>
               
            </video>
        </div>
        <div>
            <iframe width="1205" height="678" src="https://www.youtube.com/embed/Rqurzd_pEsA" title="MixiVLOG#25 : Đi Nha Trang ăn chơi hết lấc cùng anh em Refund Gaming và không có cái kết." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    
    </footer>
    <!-- end footer -->


</body>
</html>